@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');
body {
    background: url("https://t3.ftcdn.net/jpg/05/70/06/64/360_F_570066449_SS8sx5K4ZsYXCcXvR014q2prysMs1kf2.jpg") no-repeat fixed center;
    background-size: 1600px;
    position: relative; 
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; 
    background-size: inherit;
    filter: blur(3px); 
    z-index: -1; 
    transform: scale(1.05); 
}

.container{
    margin: 0 auto;
    max-width: 900px;
    height:500px;
    font-family: 'Cursed Timer ULiL', sans-serif;;
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 61);
    color:white;
    border-radius: 10px;
    position: relative;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modal-content {
    font-family:Impact, 'Arial Narrow Bold', sans-serif, Times;
    background-color: #fefefe;
    color: rgb(21, 21, 120);
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 30%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float:right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.timer {
    position: absolute;
    top: 15px;
    text-align: center;
    font-size: 35px;
}
h2{
    font-family:Verdana;
    font-size: 40px;
    line-height: 35.89px;
    margin-top: 30px;
}
.home-score , .guest-score {
    text-align: center;
    margin: 10px 0; 
    
}
.score-plc{
    background: black;
    width: 155px;
    height: 120px;
    border-radius: 10px;
    margin: 20px 5px ;
}
#home-actually-score ,#guest-actually-score {
    line-height: 126.67px;
    color: #F94F6D;
    font-size: 90px;
    font-weight: bold;
    margin: 10px 5px ;
}
.btns{
    width: 155px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around ;
}
button {
    width: 26%;
    color: #9AABD8;
    background-color: transparent;
    font-family: inherit;
    text-decoration: none;
    font-size: 16px;
    padding: 6px ;
    margin: 2px;
    cursor: pointer;
    border: 2px solid  #9AABD8 ;
    border-radius: 4px;
}
.reset{
    position: absolute;
    bottom: 50px;    
}
.reset button{
    width: 250px;
}
button:hover{
    background-color: #85a0ea;
    color: white;
    transform:scale(1.05);
}
button:active{
    background-color: #02152f83;
    transform: scale(1.02);
}

@media screen and (max-width: 768px) {
    /* Adjust the container size and padding */
    .container {
        width: 100%;
        height: auto;
        padding: 30px;
        display: flex;
        justify-content: space-around;
        border-radius: 0%;
    }
    button {
        width: 90%;
        margin: 10px auto;
    }

    .timer {
        right: 40px;
        font-size: 30px;
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap; /* Allows the elements to wrap to the next line */
        justify-content: space-around; /* Distributes space between elements */
        gap: 20px;
        position: absolute;
    }
    .timer p {
        font-size: 80%;
        line-height: 2.3;
    }

    .commande_buttons{
        position: relative;
        bottom: 45px;
        left: 17px;
        flex: 1 1 100%;
        display: flex;
        justify-content: space-around;
        
    }

    .timer button {
        font-size: 14px;
        height: 50% ;
        margin:5% 4%;
    }

    .home-score, .guest-score {
        margin-top: 100px;
        width: 20% ;
    }

    .score-plc {
        width: 100%;
        height: auto;
        margin: 10px 0;
        padding: 10px;
    }

    /* Adjust font sizes for readability */
    #home-actually-score, #guest-actually-score {
        font-size: 60px;
        line-height: normal;
    }

    h2 {
        font-size: 30px;
    }

    .btns {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }



    .reset {
        bottom: 0px;
        left: 15px;
        right: 16px;
        margin-top: 50px;
    }

    .reset button {
        width: 100%;
        margin: 10px auto;
    }

    .modal-content {
        margin-top: 200px;
        width: 90%;
        padding: 10px;
    }

    .close {
        font-size: 24px;
    }
}
